.button {
    background-color: #4E7982;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
  }
  
  .section {
    padding: 40px;
  }